@import "tailwindcss";

@import "./themes/github.css";
@import "./themes/github-dark.css";
@import "./themes/minimal.css";
@import "./themes/solarized.css";

@import "highlight.js/styles/github.css";

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  height: 100vh;
  overflow: hidden;
}
